DB_USER=root-user
DB_PASSWORD=develop_voucher_db
DB_NAME=voucher_db
DB_HOST=postgres
DB_PORT=5432

MQ_HOST=rabbitmq
MQ_PORT=5672
MQ_USER=root-user
MQ_PASSWORD=develop-voucher_mq

REDIS_HOST=redis
REDIS_PORT=6379

SLACK_WEBHOOK_URL= //your_slack_webhook_url_here

APP_ENV=DEV

LOG_LEVEL=DEBUG